In [1]:
import pandas as pd
import numpy as np
import re
import os
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
os.chdir('C:\\Users\\megan.lieu\\Downloads\\SQLCaseStudy_Megan Lieu\\SQLCaseStudy_Megan Lieu')

# Data Loading

In [3]:
xls = pd.ExcelFile('Open First_Megan Lieu_020922.xlsx')
marvel_characters = pd.read_excel(xls, 'Marvel Joined')
dc_characters = pd.read_excel(xls, 'DC Joined')

In [4]:
marvel_characters.head()

,Unnamed: 0,page_id,name,urlslug,APPEARANCES,FIRST_APPEARANCE,year_first_appear,ALIGN,EYE,HAIR,SEX,GSM,ALIVE
0,0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),4043.0,1962-08-01,1962.0,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters
1,1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),3360.0,1941-03-01,1941.0,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters
2,2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),3061.0,1974-10-01,1974.0,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters
3,3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),2961.0,1963-03-01,1963.0,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters
4,4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),2258.0,1950-11-01,1950.0,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters

In [5]:
dc_characters.head()

,Unnamed: 0,page_id,name,urlslug,APPEARANCES,FIRST_APPEARANCE,year_first_appear,ALIGN,EYE,HAIR,SEX,GSM,ALIVE
0,0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),3093.0,"1939, May",1939.0,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters
1,1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),2496.0,"1986, October",1986.0,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters
2,2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),1565.0,"1959, October",1959.0,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters
3,3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),1316.0,"1987, February",1987.0,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters
4,4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),1237.0,"1940, April",1940.0,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters

# Data Cleaning

In [6]:
marvel_characters['franchise'] = 'Marvel'
dc_characters['franchise'] = 'DC'

In [7]:
hero_df = pd.concat([marvel_characters, dc_characters])

In [8]:
hero_df['APPEARANCES'] = np.where(hero_df['APPEARANCES'].isna(), 0, hero_df['APPEARANCES'])
hero_df['GSM'] = np.where(hero_df['GSM'].isna(), 'Heterosexual Characters', hero_df['GSM'])
hero_df['ALIGN'] = np.where(hero_df['ALIGN'].isna(), 'Neutral Characters', hero_df['ALIGN'])
hero_df['EYE'] = np.where(hero_df['EYE'].isna(), 'Not specified', hero_df['EYE'])
hero_df['HAIR'] = np.where(hero_df['HAIR'].isna(), 'Not specified', hero_df['HAIR'])
hero_df['year_first_appear'] = np.where(hero_df['year_first_appear'].isna(), 'Not specified', hero_df['year_first_appear'])
hero_df['FIRST_APPEARANCE'] = np.where(hero_df['FIRST_APPEARANCE'].isna(), 'Not specified', hero_df['FIRST_APPEARANCE'])

In [9]:
hero_df.head()

,Unnamed: 0,page_id,name,urlslug,APPEARANCES,FIRST_APPEARANCE,year_first_appear,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,franchise
0,0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),4043.0,1962-08-01 00:00:00,1962.0,Good Characters,Hazel Eyes,Brown Hair,Male Characters,Heterosexual Characters,Living Characters,Marvel
1,1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),3360.0,1941-03-01 00:00:00,1941.0,Good Characters,Blue Eyes,White Hair,Male Characters,Heterosexual Characters,Living Characters,Marvel
2,2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),3061.0,1974-10-01 00:00:00,1974.0,Neutral Characters,Blue Eyes,Black Hair,Male Characters,Heterosexual Characters,Living Characters,Marvel
3,3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),2961.0,1963-03-01 00:00:00,1963.0,Good Characters,Blue Eyes,Black Hair,Male Characters,Heterosexual Characters,Living Characters,Marvel
4,4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),2258.0,1950-11-01 00:00:00,1950.0,Good Characters,Blue Eyes,Blond Hair,Male Characters,Heterosexual Characters,Living Characters,Marvel

In [122]:
hero_df.describe()

         Unnamed: 0        page_id   APPEARANCES  year_first_appear
count  21466.000000   21466.000000  21466.000000       21466.000000
mean    6323.289854  251551.975496     19.257524        1923.441303
std     4359.824464  230938.547446     94.566609         347.089457
min        0.000000    1025.000000      1.000000           0.000000
25%     2683.000000   29826.500000      1.000000        1974.000000
50%     5366.000000  188555.500000      4.000000        1989.000000
75%     9912.750000  449724.500000     10.000000        2000.000000
max    15279.000000  755278.000000   4043.000000        2013.000000

In [10]:
hero_df.dtypes

Unnamed: 0             int64
page_id                int64
name                  object
urlslug               object
APPEARANCES          float64
FIRST_APPEARANCE      object
year_first_appear     object
ALIGN                 object
EYE                   object
HAIR                  object
SEX                   object
GSM                   object
ALIVE                 object
franchise             object
dtype: object

In [11]:
hero_df = hero_df.astype({'name':'string', 'urlslug':'string', 'ALIGN':'string', 'EYE':'string', 'HAIR':'string'\
                        , 'SEX':'string', 'GSM':'string', 'ALIVE':'string', 'franchise':'string'})

In [12]:
hero_df['FIRST_APPEARANCE'] = np.where(hero_df['FIRST_APPEARANCE']=='Not specified', 0, hero_df['FIRST_APPEARANCE'])

In [13]:
replacement = {
    'Holiday':'June'
}

hero_df['FIRST_APPEARANCE'] = hero_df['FIRST_APPEARANCE'].replace(replacement,regex=True)

In [14]:
hero_df['FIRST_APPEARANCE'] = hero_df['FIRST_APPEARANCE'].apply(pd.to_datetime)

In [15]:
hero_df['year_first_appear'] = np.where(hero_df['year_first_appear']=='Not specified', 0, hero_df['year_first_appear'])
hero_df['year_first_appear'] = hero_df['year_first_appear'].apply(pd.to_numeric).round(1)

In [16]:
import datetime
hero_df['FIRST_APPEARANCE'] = np.where(hero_df['year_first_appear']==0, datetime.datetime(1,1,1,0,0), hero_df['FIRST_APPEARANCE'])
# hero_df['FIRST_APPEARANCE'] = hero_df['FIRST_APPEARANCE'].apply(pd.to_datetime)

In [123]:
# hero_df[hero_df['APPEARANCES']==0].head()

Empty DataFrame
Columns: [Unnamed: 0, page_id, name, urlslug, APPEARANCES, FIRST_APPEARANCE, year_first_appear, ALIGN, EYE, HAIR, SEX, GSM, ALIVE, franchise]
Index: []

In [18]:
#only keeping datapoints that have appearances
hero_df = hero_df.drop(hero_df[hero_df['APPEARANCES']==0].index)

In [19]:
hero_df.dtypes

Unnamed: 0             int64
page_id                int64
name                  string
urlslug               string
APPEARANCES          float64
FIRST_APPEARANCE      object
year_first_appear    float64
ALIGN                 string
EYE                   string
HAIR                  string
SEX                   string
GSM                   string
ALIVE                 string
franchise             string
dtype: object

In [33]:
# hero_df = hero_df.astype({'ALIGN':'object', 'EYE':'object', 'HAIR':'object', 'SEX':'object', 'GSM':'object', 'ALIVE':'object', 'franchise':'object', 'FIRST_APPEARANCE':'object'})
hero_df = hero_df.astype({'ALIGN':'string', 'EYE':'string', 'HAIR':'string', 'SEX':'string', 'GSM':'string', 'ALIVE':'string', 'franchise':'string', 'FIRST_APPEARANCE':'string'})

In [31]:
hero_df['FIRST_APPEARANCE'].dtypes

dtype('O')

# Data Manipulation

In [21]:
X = hero_df[['year_first_appear', 'ALIGN', 'EYE', 'HAIR', 'SEX', 'GSM', 'ALIVE', 'franchise']]
X.fillna('', inplace=True)
# X = X.astype(str)

Y = hero_df['APPEARANCES']

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4462: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [22]:
X.head()

,year_first_appear,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,franchise
0,1962.0,Good Characters,Hazel Eyes,Brown Hair,Male Characters,Heterosexual Characters,Living Characters,Marvel
1,1941.0,Good Characters,Blue Eyes,White Hair,Male Characters,Heterosexual Characters,Living Characters,Marvel
2,1974.0,Neutral Characters,Blue Eyes,Black Hair,Male Characters,Heterosexual Characters,Living Characters,Marvel
3,1963.0,Good Characters,Blue Eyes,Black Hair,Male Characters,Heterosexual Characters,Living Characters,Marvel
4,1950.0,Good Characters,Blue Eyes,Blond Hair,Male Characters,Heterosexual Characters,Living Characters,Marvel

In [24]:
X = pd.get_dummies(X)
X.head()

,year_first_appear,ALIGN_Bad Characters,ALIGN_Good Characters,ALIGN_Neutral Characters,ALIGN_Reformed Criminals,EYE_Amber Eyes,EYE_Auburn Hair,EYE_Black Eyeballs,EYE_Black Eyes,EYE_Blue Eyes,...,GSM_Heterosexual Characters,GSM_Homosexual Characters,GSM_Pansexual Characters,GSM_Transgender Characters,GSM_Transvestites,ALIVE_,ALIVE_Deceased Characters,ALIVE_Living Characters,franchise_DC,franchise_Marvel
0,1962.0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
1,1941.0,0,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,1,0,1
2,1974.0,0,0,1,0,0,0,0,0,1,...,1,0,0,0,0,0,0,1,0,1
3,1963.0,0,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,1,0,1
4,1950.0,0,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,1,0,1

In [25]:
#subsetting the data for analysis categories
X_1940s = X[(hero_df['year_first_appear'] >= 1940) & (hero_df['year_first_appear'] <= 1949)]
X_1950s = X[(hero_df['year_first_appear'] >= 1950) & (hero_df['year_first_appear'] <= 1959)]
X_1960s = X[(hero_df['year_first_appear'] >= 1960) & (hero_df['year_first_appear'] <= 1969)]
X_1970s = X[(hero_df['year_first_appear'] >= 1970) & (hero_df['year_first_appear'] <= 1979)]
X_1980s = X[(hero_df['year_first_appear'] >= 1980) & (hero_df['year_first_appear'] <= 1989)]
X_1990s = X[(hero_df['year_first_appear'] >= 1990) & (hero_df['year_first_appear'] <= 1999)]
X_2000s = X[(hero_df['year_first_appear'] >= 2000) & (hero_df['year_first_appear'] <= 2009)]
X_2010s = X[(hero_df['year_first_appear'] >= 2010) & (hero_df['year_first_appear'] <= 2019)]
X_2020s = X[(hero_df['year_first_appear'] >= 2020) & (hero_df['year_first_appear'] <= 2029)]

X_high_appear = X[hero_df['APPEARANCES'] > 7]
X_med_appear = X[(hero_df['APPEARANCES'] > 2) & (hero_df['year_first_appear'] <= 7)]
X_low_appear = X[hero_df['APPEARANCES'] <= 2]

In [43]:
Y_1940s = Y[(hero_df['year_first_appear'] >= 1940) & (hero_df['year_first_appear'] <= 1949)]
Y_1950s = Y[(hero_df['year_first_appear'] >= 1950) & (hero_df['year_first_appear'] <= 1959)]
Y_1960s = Y[(hero_df['year_first_appear'] >= 1960) & (hero_df['year_first_appear'] <= 1969)]
Y_1970s = Y[(hero_df['year_first_appear'] >= 1970) & (hero_df['year_first_appear'] <= 1979)]
Y_1980s = Y[(hero_df['year_first_appear'] >= 1980) & (hero_df['year_first_appear'] <= 1989)]
Y_1990s = Y[(hero_df['year_first_appear'] >= 1990) & (hero_df['year_first_appear'] <= 1999)]
Y_2000s = Y[(hero_df['year_first_appear'] >= 2000) & (hero_df['year_first_appear'] <= 2009)]
Y_2010s = Y[(hero_df['year_first_appear'] >= 2010) & (hero_df['year_first_appear'] <= 2019)]
Y_2020s = Y[(hero_df['year_first_appear'] >= 2020) & (hero_df['year_first_appear'] <= 2029)]

Y_high_appear = Y[hero_df['APPEARANCES'] > 7]
Y_med_appear = Y[(hero_df['APPEARANCES'] > 2) & (hero_df['year_first_appear'] <= 7)]
Y_low_appear = Y[hero_df['APPEARANCES'] <= 2]

# Statistical Analysis for Feature Selection

In [35]:
from scipy.stats import chi2_contingency

categorical_columns = hero_df.select_dtypes(exclude = ['number', 'datetime']).columns

chi2_check = []
for i in categorical_columns:
    if chi2_contingency(pd.crosstab(hero_df['APPEARANCES'], hero_df[i]))[1] < 0.05:
        chi2_check.append('Reject Null Hypothesis')
    else:
        chi2_check.append('Fail to Reject Null Hypothesis')
res = pd.DataFrame(data = [categorical_columns, chi2_check] 
             ).T 
res.columns = ['Column', 'Hypothesis']
print(res)

categorical_columns

             Column                      Hypothesis
0              name  Fail to Reject Null Hypothesis
1           urlslug  Fail to Reject Null Hypothesis
2  FIRST_APPEARANCE          Reject Null Hypothesis
3             ALIGN          Reject Null Hypothesis
4               EYE          Reject Null Hypothesis
5              HAIR          Reject Null Hypothesis
6               SEX          Reject Null Hypothesis
7               GSM          Reject Null Hypothesis
8             ALIVE  Fail to Reject Null Hypothesis
9         franchise          Reject Null Hypothesis

Index(['name', 'urlslug', 'FIRST_APPEARANCE', 'ALIGN', 'EYE', 'HAIR', 'SEX',
       'GSM', 'ALIVE', 'franchise'],
      dtype='object')

In [132]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import chi2
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_med_appear, Y_med_appear, test_size=0.4, random_state=101)

fs = SelectKBest(score_func=chi2, k='all')
fs.fit(X_train, y_train)
X_train_fs = fs.transform(X_train)
X_test_fs = fs.transform(X_test)

category_names = X_med_appear.columns[fs.get_support(indices=True)].tolist()
fs_scores = []
for i in range(len(fs.scores_)):
    fs_scores.append(fs.scores_[i])
#     print((X.columns[fs.get_support(indices=True)][i], fs.scores_[i]))
#     print('Feature %d: %f' % (i, fs.scores_[i]))

fs_scores_df = pd.DataFrame(data = [category_names, fs_scores] 
             ).T 
fs_scores_df.columns = ['Category', 'Score']
fs_scores_df.sort_values(by='Category', ascending=True).to_clipboard()

# plot the scores
# plt.bar([i for i in range(len(fs.scores_))], fs.scores_)
# plt.show()

In [129]:
hero_df[hero_df['EYE']=='Multiple Eyes']

,Unnamed: 0,page_id,name,urlslug,APPEARANCES,FIRST_APPEARANCE,year_first_appear,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,franchise
768,768,18102,Satannish (Earth-616),\/Satannish_(Earth-616),48.0,-36806400000000000,1968.0,Bad Characters,Multiple Eyes,Not specified,Male Characters,Heterosexual Characters,Deceased Characters,Marvel
1399,1399,16809,Sidney Green (Earth-616),\/Sidney_Green_(Earth-616),27.0,1659657600000000000,2005.0,Neutral Characters,Multiple Eyes,No Hair,Male Characters,Heterosexual Characters,Deceased Characters,Marvel
1617,1617,8000,Lambda-Zero (Earth-616),\/Lambda-Zero_(Earth-616),23.0,1646438400000000000,2005.0,Neutral Characters,Multiple Eyes,No Hair,Female Characters,Heterosexual Characters,Deceased Characters,Marvel
8365,8365,680934,Joseph Bricklemoore (Earth-616),\/Joseph_Bricklemoore_(Earth-616),3.0,0001-01-01 00:00:00,0.0,Good Characters,Multiple Eyes,Black Hair,Male Characters,Heterosexual Characters,Living Characters,Marvel
10036,10036,34980,Spencer Bronson (Earth-616),\/Spencer_Bronson_(Earth-616),2.0,1649030400000000000,2004.0,Bad Characters,Multiple Eyes,Not specified,Male Characters,Heterosexual Characters,Living Characters,Marvel
13239,13239,250133,Brian Kornfield (Earth-616),\/Brian_Kornfield_(Earth-616),1.0,749433600000000000,1993.0,Neutral Characters,Multiple Eyes,Blond Hair,Male Characters,Heterosexual Characters,Living Characters,Marvel
15215,15215,653668,Kirren (Earth-616),\/Kirren_(Earth-616),1.0,0001-01-01 00:00:00,0.0,Good Characters,Multiple Eyes,No Hair,Male Characters,Heterosexual Characters,Deceased Characters,Marvel

In [115]:
#selecting the categories with highest mutual information scores for each class of category
X_selected = X[['GSM_Bisexual Characters', 'EYE_Blue Eyes'\
                , 'HAIR_Auburn Hair', 'ALIGN_Good Characters', 'SEX_Male Characters']]
                
X_selected

,GSM_Bisexual Characters,EYE_Blue Eyes,HAIR_Auburn Hair,ALIGN_Good Characters,SEX_Male Characters
0,0,0,0,1,1
1,0,1,0,1,1
2,0,1,0,0,1
3,0,1,0,1,1
4,0,1,0,1,1
...,...,...,...,...,...
6536,0,1,0,1,1
6537,0,0,0,0,1
6538,0,0,0,1,1
6539,0,0,0,1,1
6540,0,0,0,0,1

# Regression Modeling to Predict Appearance/Popularity

In [116]:
#model for just the selected features
#splitting data into train and test sets
from sklearn.model_selection import train_test_split

X_train_s, X_test_s, y_train, y_test = train_test_split(X_selected, Y, test_size=0.4, random_state=101)

In [134]:
#model for all features
#splitting data into train and test sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.4, random_state=101)

In [117]:
#for just the selected features
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train_s,y_train)

LinearRegression()

In [135]:
#for all features
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [118]:
#for just the selected features
#Intercept: expected mean value of y when all x=0
intercept = model.intercept_
intercept_df = pd.DataFrame(data=[intercept], columns=['Coefficient'], index=['Intercept'])

# Coefficients: A unit increase of each will result in this much increase in Price
coeff_df = pd.DataFrame(model.coef_, X_selected.columns, columns=['Coefficient'])

model_coeff_df = pd.concat([intercept_df, coeff_df])
model_coeff_df = model_coeff_df.drop(model_coeff_df[model_coeff_df['Coefficient']==0].index)
model_coeff_df

                         Coefficient
Intercept                   2.637463
GSM_Bisexual Characters   143.952850
EYE_Blue Eyes              37.529565
HAIR_Auburn Hair           47.776028
ALIGN_Good Characters      21.972871
SEX_Male Characters         5.312992

In [136]:
#for all features
#Intercept: expected mean value of y when all x=0
intercept = model.intercept_
intercept_df = pd.DataFrame(data=[intercept], columns=['Coefficient'], index=['Intercept'])

# Coefficients: A unit increase of each will result in this much increase in Price
coeff_df = pd.DataFrame(model.coef_, X.columns, columns=['Coefficient'])

model_coeff_df = pd.concat([intercept_df, coeff_df])
model_coeff_df = model_coeff_df.drop(model_coeff_df[model_coeff_df['Coefficient']==0].index)
model_coeff_df

                           Coefficient
Intercept                   123.231309
year_first_appear             0.002023
ALIGN_Bad Characters        -14.852370
ALIGN_Good Characters         6.854240
ALIGN_Neutral Characters     -9.718953
...                                ...
ALIVE_                      -18.644778
ALIVE_Deceased Characters     6.433844
ALIVE_Living Characters      12.210934
franchise_DC                  1.527166
franchise_Marvel             -1.527166

[81 rows x 1 columns]

In [119]:
#for just the selected features
predictions = model.predict(X_test_s)
predictions

array([ 7.9504542 , 29.92332558, 29.92332558, ..., 40.1670278 ,
        7.9504542 ,  7.9504542 ])

In [137]:
#for all features
predictions = model.predict(X_test)
predictions

array([32.13279266, 32.05797512, 15.50943941, ..., 40.95250316,
       -6.09772196, 22.52846346])

In [120]:
#investigating significance of just the selected features
import statsmodels.api as sm

X_train_s = sm.add_constant(X_train_s)
model = sm.OLS(y_train, X_train_s)
results = model.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            APPEARANCES   R-squared:                       0.038
Model:                            OLS   Adj. R-squared:                  0.037
Method:                 Least Squares   F-statistic:                     100.6
Date:                Tue, 15 Feb 2022   Prob (F-statistic):          2.03e-104
Time:                        20:37:07   Log-Likelihood:                -76816.
No. Observations:               12879   AIC:                         1.536e+05
Df Residuals:                   12873   BIC:                         1.537e+05
Df Model:                           5
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       2.6375      1.710      1.543      0.123      -0.714       5.989
GSM_Bisexual Characters   143.9529     21.650      6.649      0.000     101.515     186.391
EYE_Blue Eyes              37.5296      2.431     15.437      0.000      32.764      42.295
HAIR_Auburn Hair           47.7760     13.374      3.572      0.000      21.561      73.991
ALIGN_Good Characters      21.9729      1.796     12.238      0.000      18.453      25.492
SEX_Male Characters         5.3130      1.831      2.902      0.004       1.724       8.901
==============================================================================
Omnibus:                    28438.683   Durbin-Watson:                   2.017
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        193090807.839
Skew:                          20.321   Prob(JB):                         0.00
Kurtosis:                     601.475   Cond. No.                         34.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [138]:
#model for all features
import statsmodels.api as sm

X_train = sm.add_constant(X_train)
model = sm.OLS(y_train, X_train)
results = model.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            APPEARANCES   R-squared:                       0.060
Model:                            OLS   Adj. R-squared:                  0.055
Method:                 Least Squares   F-statistic:                     12.00
Date:                Wed, 16 Feb 2022   Prob (F-statistic):          3.86e-124
Time:                        22:03:23   Log-Likelihood:                -76665.
No. Observations:               12879   AIC:                         1.535e+05
Df Residuals:                   12810   BIC:                         1.540e+05
Df Model:                          68
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
const                          50.3790     18.260      2.759      0.006      14.586      86.172
year_first_appear               0.0020      0.002      0.819      0.413      -0.003       0.007
ALIGN_Bad Characters           -2.2576     21.368     -0.106      0.916     -44.143      39.628
ALIGN_Good Characters          19.4490     21.369      0.910      0.363     -22.438      61.336
ALIGN_Neutral Characters        2.8758     21.385      0.134      0.893     -39.043      44.794
ALIGN_Reformed Criminals       30.3118     72.601      0.418      0.676    -111.997     172.620
EYE_Amber Eyes                 41.4605     37.280      1.112      0.266     -31.614     114.535
EYE_Auburn Hair               -17.7973     45.373     -0.392      0.695    -106.736      71.141
EYE_Black Eyeballs           1.378e-13   1.77e-13      0.779      0.436   -2.09e-13    4.85e-13
EYE_Black Eyes                -17.5963      7.784     -2.261      0.024     -32.853      -2.339
EYE_Blue Eyes                  20.0837      7.120      2.821      0.005       6.128      34.039
EYE_Brown Eyes                 -2.2998      7.172     -0.321      0.748     -16.358      11.758
EYE_Compound Eyes           -3.451e-13   1.54e-13     -2.242      0.025   -6.47e-13   -4.34e-14
EYE_Gold Eyes                  73.5575     27.353      2.689      0.007      19.941     127.173
EYE_Green Eyes                 10.1557      7.885      1.288      0.198      -5.300      25.612
EYE_Grey Eyes                   5.0101     12.433      0.403      0.687     -19.360      29.380
EYE_Hazel Eyes                105.1209     15.431      6.812      0.000      74.874     135.368
EYE_Magenta Eyes               -6.2907     89.849     -0.070      0.944    -182.408     169.827
EYE_Multiple Eyes             -19.2889     45.346     -0.425      0.671    -108.174      69.596
EYE_No Eyes                   -17.2868     37.286     -0.464      0.643     -90.373      55.800
EYE_Not specified             -25.1917      6.843     -3.681      0.000     -38.605     -11.778
EYE_One Eye                   -21.2315     34.877     -0.609      0.543     -89.595      47.132
EYE_Orange Eyes                -7.0736     24.145     -0.293      0.770     -54.401      40.254
EYE_Photocellular Eyes          2.8460     20.773      0.137      0.891     -37.872      43.564
EYE_Pink Eyes                 -13.4959     24.899     -0.542      0.588     -62.301      35.309
EYE_Purple Eyes                20.9122     18.757      1.115      0.265     -15.853      57.678
EYE_Red Eyes                   -8.8994      8.147     -1.092      0.275     -24.868       7.069
EYE_Silver Eyes               -19.9261     45.483     -0.438      0.661    -109.080      69.228
EYE_Variable Eyes               9.2536     24.382      0.380      0.704     -38.539      57.046
EYE_Violet Eyes                -7.7310     29.359     -0.263      0.792     -65.279      49.817
EYE_White Eyes                -15.7577      8.729     -1.805      0.071     -32.868       1.352
EYE_Yellow Eyeballs           -28.1172     63.744     -0.441      0.659    -153.065      96.830
EYE_Yellow Eyes               -10.0371      9.396     -1.068      0.285     -28.455       8.380
HAIR_Auburn Hair               48.9110     15.285      3.200      0.001      18.950      78.872
HAIR_Bald                       6.5460      9.443      0.693      0.488     -11.963      25.055
HAIR_Black Hair                 3.1736      8.588      0.370      0.712     -13.661      20.008
HAIR_Blond Hair                 1.9705      8.795      0.224      0.823     -15.270      19.211
HAIR_Blue Hair                 52.8924     15.404      3.434      0.001      22.699      83.086
HAIR_Bronze Hair             5.978e-14   7.16e-14      0.835      0.404   -8.05e-14       2e-13
HAIR_Brown Hair                 1.8177      8.691      0.209      0.834     -15.218      18.853
HAIR_Dyed Hair                 11.2792     90.308      0.125      0.901    -165.738     188.296
HAIR_Gold Hair                -74.3521     39.831     -1.867      0.062    -152.427       3.723
HAIR_Green Hair                 4.0907     13.157      0.311      0.756     -21.700      29.881
HAIR_Grey Hair                 -4.6930      9.598     -0.489      0.625     -23.506      14.120
HAIR_Light Brown Hair          -9.0313     45.768     -0.197      0.844     -98.742      80.680
HAIR_Magenta Hair               6.7211     64.089      0.105      0.916    -118.903     132.345
HAIR_No Hair                    0.5120      9.241      0.055      0.956     -17.603      18.627
HAIR_Not specified              1.8119      8.611      0.210      0.833     -15.066      18.690
HAIR_Orange Hair                1.8556     18.414      0.101      0.920     -34.240      37.951
HAIR_Orange-brown Hair          3.1731     90.297      0.035      0.972    -173.823     180.170
HAIR_Pink Hair                 -6.4962     21.843     -0.297      0.766     -49.312      36.320
HAIR_Platinum Blond Hair      -26.9150     64.183     -0.419      0.675    -152.723      98.893
HAIR_Purple Hair                6.0885     16.946      0.359      0.719     -27.127      39.305
HAIR_Red Hair                   4.9882      9.181      0.543      0.587     -13.007      22.984
HAIR_Reddish Blond Hair       -25.3799     90.324     -0.281      0.779    -202.427     151.668
HAIR_Reddish Brown Hair     -4.327e-14   8.35e-14     -0.518      0.604   -2.07e-13     1.2e-13
HAIR_Silver Hair               18.3246     35.263      0.520      0.603     -50.796      87.445
HAIR_Strawberry Blond Hair     20.7673     16.235      1.279      0.201     -11.055      52.590
HAIR_Variable Hair             -7.8689     31.152     -0.253      0.801     -68.931      53.194
HAIR_Violet Hair                6.2802     90.388      0.069      0.945    -170.894     183.454
HAIR_White Hair                 8.0043      9.183      0.872      0.383      -9.995      26.003
HAIR_Yellow Hair               -4.0924     35.034     -0.117      0.907     -72.764      64.579
SEX_                           16.9908     16.542      1.027      0.304     -15.434      49.416
SEX_Agender Characters         26.0638     22.984      1.134      0.257     -18.988      71.116
SEX_Female Characters           9.7339     16.223      0.600      0.549     -22.065      41.533
SEX_Genderfluid Characters    -46.5346     42.413     -1.097      0.273    -129.671      36.602
SEX_Genderless Characters      -0.9946     28.751     -0.035      0.972     -57.350      55.361
SEX_Male Characters            19.0544     16.175      1.178      0.239     -12.651      50.760
SEX_Transgender Characters     26.0654     80.178      0.325      0.745    -131.096     183.227
GSM_Bisexual Characters        33.1053     29.256      1.132      0.258     -24.242      90.452
GSM_Genderfluid Characters    -46.5346     42.413     -1.097      0.273    -129.671      36.602
GSM_Heterosexual Characters  -100.8156     23.012     -4.381      0.000    -145.923     -55.708
GSM_Homosexual Characters     -94.0443     24.986     -3.764      0.000    -143.020     -45.069
GSM_Pansexual Characters      -27.0936     82.712     -0.328      0.743    -189.221     135.034
GSM_Transgender Characters    -80.9879     60.138     -1.347      0.178    -198.868      36.892
GSM_Transvestites             366.7497     81.914      4.477      0.000     206.186     527.314
ALIVE_                         -1.8518     47.721     -0.039      0.969     -95.392      91.688
ALIVE_Deceased Characters      23.2268     19.958      1.164      0.245     -15.894      62.348
ALIVE_Living Characters        29.0039     19.938      1.455      0.146     -10.078      68.086
franchise_DC                   26.7167      9.183      2.909      0.004       8.716      44.718
franchise_Marvel               23.6623      9.173      2.579      0.010       5.681      41.643
==============================================================================
Omnibus:                    28356.333   Durbin-Watson:                   2.015
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        187977831.656
Skew:                          20.187   Prob(JB):                         0.00
Kurtosis:                     593.480   Cond. No.                     1.26e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.12e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [133]:
# hero_df['APPEARANCES'].describe(percentiles=[.33, .67])